<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <div class="login-body">    
        <h2 id="login-text">Login</h2>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <p style="color:red;" id="flash-message-login">{{ messages[0] }}</p>
            {% endif %}
        {% endwith %}

        <form method="POST" class="form-body">
            <input type="text" name="nome" placeholder="Nome" id="input-nome"><br><br>
            <input type="password" name="senha" placeholder="Senha" id="input-senha"><br><br>
            <button type="submit" id="button-entrar">Entrar</button>
        </form>

        <a href="/cadastro" id="button-cadastrar-usuario-novo">
            Cadastrar
        </a>
    </div>

    <script>
    setTimeout(function() {
        let msg = document.getElementById("flash-message-login");
        if (msg) {
            msg.style.display = "none";
        }
    }, 3000);
</script>
</body>
</html>