<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuários</title>
</head>
<body>
    <h2>Lista de Usuários</h2>

    <table>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Senha</th>
        </tr>

        {% for u in usuarios %}
        <tr>
            <td>{{ u.id }}</td>
            <td>{{ u.nome }}</td>
            <td>{{ u.senha }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>